
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content">
    <div class="section group">
        <div class="col span_2_of_3">
            <div class="contact-form">
                <h2>Login</h2>
                <form method="post">
                    <div>
                        <span><label>Tên đăng nhập</label></span>
                        <span><input type="text" class="textbox" name="UserName"></span>
                    </div>
                    <div>
                        <span><label>Mật khẩu</label></span>
                        <span><input type="password" class="textbox" name="Password"></span>
                    </div>

                    <div>
                        <span><input type="submit" value="Submit" class="myButton"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

